    <div ng-include="'partials/header.html'"></div>

    <!-- Header -->
        <header>
            <div class="container">
                <div class="inner-container">
                    <img src="../img/logo.svg" class="logo" />
                    <h1>The fast, secure way to apply for a mortgage.</h1>
                    <button ng-click="overlay()">Get Started</button>


                </div>
            </div>
        </header>

                    
     <div ng-include="'partials/footer.html'"></div>
   

