.application-start .gradient-top {
  background: white;
  background: -moz-linear-gradient(top, white 1%, white 62%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(1%, white), color-stop(62%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, white 1%, white 62%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, white 1%, white 62%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, white 1%, white 62%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, white 1%, white 62%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00ff', endColorstr='#ffffff', GradientType=0 );
  height: 300px;
  width: 100%;
  position: fixed;
}
.application-start .body-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/splash-background.jpg) no-repeat;
  background-size: cover;
  background-position: 0 top;
}
.application-start header {
  text-align: center;
  position: fixed;
  width: 100%;
}
@media (min-width: 2560px) {
  .application-start header .logo {
    width: 312px;
    margin-top: 145px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1920px) and (max-width: 2560px) {
  .application-start header .logo {
    width: 250px;
    margin-top: 112px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .application-start header .logo {
    width: 232px;
    margin-top: 43px;
    margin-bottom: 17px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .application-start header .logo {
    width: 232px;
    margin-top: 43px;
    margin-bottom: 15px;
  }
}
@media (max-width: 720px) and (max-width: 1024px) {
  .application-start header .logo {
    margin-top: 54px;
    width: 50%;
    margin-bottom: 30px;
  }
}
.application-start header h1 {
  font-family: "Whitney-Book", sans-serif;
  font-weight: 500;
  color: #443F3F;
  line-height: 62px;
  margin-top: 0;
}
@media (min-width: 2560px) {
  .application-start header h1 {
    font-size: 48px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1920px) and (max-width: 2560px) {
  .application-start header h1 {
    font-size: 46px;
    margin-bottom: 51px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .application-start header h1 {
    font-size: 32px;
    margin-bottom: 37px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .application-start header h1 {
    font-size: 32px;
    margin-bottom: 33px;
  }
}
@media (max-width: 720px) and (max-width: 1024px) {
  .application-start header h1 {
    font-size: 36px;
    padding: 0 20px;
    line-height: 48px;
    margin-bottom: 48px;
  }
}
.application-start button {
  border-radius: 5px;
  background: #0F5BA7;
  color: #fff;
  border: none;
  padding: 15px 50px;
  font-size: 22px;
  line-height: 25px;
  outline: none;
}
@media (min-width: 2560px) {
  .application-start button {
    width: 340px;
  }
}
@media (min-width: 1920px) and (max-width: 2560px) {
  .application-start button {
    width: 280px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .application-start button {
    width: 235px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .application-start button {
    width: 235px;
  }
}
@media (max-width: 720px) and (max-width: 1024px) {
  .application-start button {
    width: 80%;
  }
}
.application-start .device {
  background: url(../img/laptop.png) no-repeat;
  background-position: center bottom;
  color: #fff;
  width: 100%;
  display: block;
  position: fixed;
  height: 92%;
  top: 0;
  z-index: 999;
  background-size: 40%;
}
@media (min-width: 2560px) {
  .application-start .device {
    background-size: 42%;
  }
}
@media (min-width: 1920px) and (max-width: 2560px) {
  .application-start .device {
    background-size: 52%;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .application-start .device {
    background-size: 52%;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .application-start .device {
    background-size: 52%;
  }
}
@media (max-width: 720px) and (max-width: 1024px) {
  .application-start .device {
    height: 95%;
    background-size: 110%;
  }
}
.application-start footer {
  background: url(../img/table.png) no-repeat;
  background-size: 100%;
  background-position: 0 bottom;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80%;
}
@media (min-width: 1920px) and (max-width: 2560px) {
  .application-start footer {
    background-size: 120%;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .application-start footer {
    background-size: 125%;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .application-start footer {
    background-size: 130%;
  }
}
@media (max-width: 720px) {
  .application-start footer {
    background-size: 265%;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0;
}

.inner-container {
  max-width: 1040px;
  margin: 0 auto;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #fed136;
}

#services {
  padding: 10px 0;
  background: rgba(18, 76, 101, 0.8);
  float: left;
  position: relative;
  width: 100%;
}
@media (max-width: 420px) {
  #services {
    padding-top: 30px;
  }
}
#services .service {
  float: left;
  display: block;
  cursor: pointer;
  font-family: "Whitney-Book", sans-serif;
  padding: 10px 20px;
  text-align: left;
}
@media (max-width: 420px) {
  #services .service {
    margin-left: 3%;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    width: 90%;
    left: 5%;
  }
}
#services .service h4 {
  float: left;
  clear: right;
  padding-right: 100px;
}
#services .service.prepare h4 {
  background: url(../img/service-prepare.png) no-repeat right center;
}
#services .service.calculate h4 {
  background: url(../img/service-calculate.png) no-repeat right center;
}
#services .service.compare h4 {
  background: url(../img/service-compare.png) no-repeat right center;
}
#services .service .inner {
  border: rgba(255, 255, 255, 0.5) 1px solid;
  padding: 10px 20px;
  color: #fff;
  float: left;
}
#services .service .inner .service-heading {
  font-size: 32px;
}
#services .service .inner p {
  background: url(../img/service-arrows.png) no-repeat right 6px;
  float: left;
  font-size: 14px;
  padding-right: 25px;
  font-family: "Gotham-Book", sans-serif;
}
#services .service-container {
  width: 100%;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

a {
  color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}

h1 .heading-font, h2 .heading-font, h3 .heading-font, h4 .heading-font, h5 .heading-font, h6 .heading-font {
  font-weight: 700;
  font-family: "Whitney-Book", sans-serif;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.bg-darkest-gray {
  background-color: #222;
}

.btn-primary .heading-font {
  font-weight: 700;
}

.btn-xl .heading-font {
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

.navbar-default {
  background-color: #fff;
}
@media (max-width: 420px) {
  .navbar-default {
    background: #124C65;
  }
  .navbar-default .navbar-brand:hover {
    background: #124C65 url(../img/header-logo.png) no-repeat 10px center;
    height: 48px;
    display: block;
    margin-left: 0;
    background-size: 50px 40px;
    background-position: 30px center;
  }
}
.navbar-default .navbar-brand {
  width: 160px;
  height: 120px;
  background: #124C65 url(../img/header-logo.png) no-repeat center center;
  position: absolute;
  top: 0;
  display: block;
}
.navbar-default .navbar-brand:hover {
  background-color: none !important;
}
@media (max-width: 420px) {
  .navbar-default .navbar-brand {
    height: 48px;
    display: block;
    margin-left: 0;
    background-size: 50px 40px;
    background-position: 30px center;
  }
}
.navbar-default .navbar-brand .script-font:hover, .navbar-default .navbar-brand .script-font:focus, .navbar-default .navbar-brand .script-font:active, .navbar-default .navbar-brand .script-font.active {
  color: #fec503;
}
.navbar-default .navbar-collapse {
  border-color: fade(white, 2%);
}
.navbar-default .navbar-toggle {
  margin-right: 30px;
  border-radius: 0px;
  background-color: rgba(231, 218, 59, 0.9);
  border-color: #124C65;
  border: none !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(231, 218, 59, 0.4);
}
.navbar-default .nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.navbar-default .nav li a {
  font-size: 15px;
  font-family: "Gotham-Book", sans-serif;
}
@media (max-width: 768px) {
  .navbar-default .nav li a {
    color: #fff !important;
  }
}
.navbar-default .nav li a .heading-font {
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a .heading-font:hover, .navbar-default .nav li a .heading-font:focus {
  color: #fff !important;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: #fff;
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    box-shadow: 0 4px 13px -2px rgba(0, 0, 0, 0.15);
  }
  .navbar-default a {
    font-family: "Gotham-Medium", sans-serif;
    color: #124C65 !important;
    font-size: 14px;
  }
  .navbar-default .navbar-brand {
    background: #124C65 url(../img/header-logo.png) no-repeat center center;
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-brand:hover {
    background-color: none !important;
  }
  .navbar-default .navbar-brand:hover {
    background: #124C65 url(../img/header-logo.png) no-repeat center center;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
@media (max-width: 420px) {
  .intro-text {
    margin-top: 180px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.94);
    padding: 30px 30px;
    height: auto;
    width: 100%;
    float: left;
    margin-left: 0px;
    border-radius: 1px;
    font-family: "Gotham-Book", sans-serif;
  }
  .intro-text ul {
    padding: 0;
    padding-left: 20px;
    font-size: 14px;
    color: #113F53;
    font-family: "Gotham-Book", sans-serif;
  }
  .intro-text ul li {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .intro-text .intro-lead-in {
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    line-height: 30px;
    margin-bottom: 20px;
    color: #124C65;
    font-family: "Whitney-Book", sans-serif;
  }
  .intro-text .intro-lead-in .serif-font {
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .intro-text button {
    border: none;
    background: #0C79A9;
    color: #fff;
    padding: 10px 25px;
    border-radius: 3px;
    margin-right: 20px;
    outline: none;
    font-family: "Gotham-Book", sans-serif;
  }
  .intro-text a {
    color: #0C79A9;
    margin-left: 10px;
  }
  .intro-text .intro-heading {
    font-size: 16px;
    color: #124C65;
    font-weight: 600;
    margin-top: 20px;
    float: left;
    clear: right;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Gotham-Medium", sans-serif;
  }
  .intro-text .intro-heading .heading-font {
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
header {
  background-repeat: none;
  position: relative;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header .slide {
  position: absolute;
  overflow: hidden;
  height: 100%;
}
header .background-cover {
  text-align: center;
  color: white;
}
header .background-cover .intro-text {
  padding-top: 100px;
  width: 30%;
  background: rgba(255, 255, 255, 0.9);
  margin-top: 200px;
  padding-bottom: 50px;
  margin-left: -15px;
}
header .background-cover .intro-text .intro-lead-in .serif-font {
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .background-cover .intro-text .intro-heading .heading-font {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: "Gotham-Medium", sans-serif;
}

@media (min-width: 768px) {
  header .intro-text {
    background: rgba(255, 255, 255, 0.94);
    padding: 30px 30px;
    margin-top: 200px;
    height: auto;
    margin-bottom: 202px;
    float: left;
    margin-left: -15px;
    border-radius: 1px;
    font-family: "Gotham-Book", sans-serif;
  }
  header .intro-text ul {
    padding: 0;
    padding-left: 20px;
    font-size: 14px;
    color: #113F53;
    font-family: "Gotham-Book", sans-serif;
  }
  header .intro-text ul li {
    margin-bottom: 5px;
    font-size: 14px;
  }
  header .intro-text .intro-lead-in {
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    line-height: 30px;
    margin-bottom: 20px;
    color: #124C65;
    font-family: "Whitney-Book", sans-serif;
  }
  header .intro-text .intro-lead-in .serif-font {
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text button {
    border: none;
    background: #0C79A9;
    color: #fff;
    padding: 10px 25px;
    border-radius: 3px;
    margin-right: 20px;
    outline: none;
    font-family: "Gotham-Book", sans-serif;
  }
  header .intro-text a {
    color: #0C79A9;
    margin-left: 10px;
  }
  header .intro-text .intro-heading {
    font-size: 16px;
    color: #124C65;
    font-weight: 600;
    margin-top: 20px;
    float: left;
    clear: right;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Gotham-Medium", sans-serif;
  }
  header .intro-text .intro-heading .heading-font {
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
}
section h3.section-subheading .serif-font {
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: fade(#fed136, 90%);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p .serif-font {
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}

aside.clients img {
  margin: 50px auto;
}

section#contact {
  background-color: #222;
  background-image: url("../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder .heading-font {
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
}
section#contact :-moz-placeholder .heading-font {
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
}
section#contact ::-moz-placeholder .heading-font {
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder .heading-font {
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #e74c3c;
}

footer {
  padding: 45px 0;
  text-align: center;
  width: 100%;
  min-height: 150px;
  font-family: "Gotham-Book", sans-serif;
}
footer .footer-info {
  float: left;
  margin-top: 5px;
}
@media (max-width: 420px) {
  footer .footer-info {
    float: none;
  }
}
footer .footer-info img {
  margin-right: 15px;
}
footer .footer-bottom {
  float: left;
  width: 100%;
  text-align: left;
}
@media (max-width: 420px) {
  footer .footer-bottom {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
}
footer ul {
  float: right;
  margin-top: 10px;
}
@media (max-width: 420px) {
  footer ul {
    float: none;
    padding-left: 0;
  }
}
footer ul li {
  display: inline-block;
  color: #0C79A9;
  font-size: 12px;
}
footer ul li:last-child:after {
  display: none;
}
footer ul li:after {
  content: ' | ';
}
footer span.copyright {
  line-height: 40px;
}
footer span.copyright .heading-font {
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
}
footer ul.quicklinks .heading-font {
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #fed136;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
}
.portfolio-modal .modal-content p.item-intro .serif-font {
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

::-moz-selection {
  text-shadow: none;
  background: #fed136;
}

::selection {
  text-shadow: none;
  background: #fed136;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: #fed136;
}
